@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 194 60% 94.1%;
    --foreground: 224 71% 10%;
    --card: 194 60% 94.1%;
    --card-foreground: 224 71% 10%;
    --popover: 194 60% 94.1%;
    --popover-foreground: 224 71% 10%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 5% 90%;
    --secondary-foreground: 224 71% 10%;
    --muted: 197 60% 88%;
    --muted-foreground: 224 71% 25%;
    --accent: 197 76% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 197 60% 80%;
    --input: 197 60% 85%;
    --ring: 0 0% 9%;
    --chart-1: 197 76% 53%;
    --chart-2: 0 0% 9%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 224 71% 10%;
    --sidebar-primary: 197 76% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 194 60% 94.1%;
    --sidebar-accent-foreground: 224 71% 10%;
    --sidebar-border: 197 60% 85%;
    --sidebar-ring: 197 76% 53%;
  }
  .dark {
    --background: 224 71% 4%;
    --foreground: 0 0% 98%;
    --card: 224 71% 4%;
    --card-foreground: 0 0% 98%;
    --popover: 224 71% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 240 4% 16%;
    --secondary-foreground: 0 0% 98%;
    --muted: 224 71% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 197 76% 53%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 224 71% 15%;
    --input: 224 71% 15%;
    --ring: 0 0% 98%;
    --chart-1: 197 76% 53%;
    --chart-2: 0 0% 98%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 224 71% 4%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 197 76% 53%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 224 71% 10%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 224 71% 15%;
    --sidebar-ring: 197 76% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
